@charset "UTF-8";

.inner {
  width: 89.8438vw;
}

/* HEADER */
.menu {
  background-color: rgba(241, 241, 241, .8);
}

/* VISUAL */
.pf-title {
  align-items: flex-start;
  box-sizing: border-box;
  padding-top: 13.0208vw;
}
.pf-text {
  font-size: 5.2083vw;
}
.pf-btn-item {
  margin-top: 2.6042vw;
}
.pf-btn {
  font-size: 2.6042vw;
}
.pf-btn-item>a {
  margin-right: 2.6042vw;
}
.pf-title-img {
  height: 51.6927vw;
  padding: 1.9531vw;
  border-radius: 1.9531vw;
  margin-top: 2.6042vw;
}
.pf-title-img-hover {
  width: calc(100% - 3.9063vw);
  height: calc(100% - 3.9063vwvw);
  top: 1.9531vw;
  left: 1.9531vw;
}
.pf-title-img-hover>div {
  width: 52.0833vw;
}

.pf-detail-text {
  text-align: center;
}

/* FOOTER */
footer {
  padding: 1.3021vw;
}

/* QUICK BTN */
.quick_item {
  background-color: rgba(241, 241, 241, .8);
}

/* TOP BTN */
.top_btn {
  background-color: rgba(241, 241, 241, .8);
}