@charset "UTF-8";

body {
  overflow: auto;
  font-size: 12px;
}

/* HEADER */
header {
  padding: 20px;
}
  /* LOGO */
  .logo {
    font-size: 1rem;
    padding-top: 6px;
    padding-bottom: 4px;
  }
  .logo:hover {
    opacity: 1;
  }
  /* MENU */
  .menu {
    width: 24px;
    height: 24px;
    border: 2px solid #f1f1f1;
    border-radius: 6px;
  }
  .menu>div {
    width: 14px;
    height: 12px;
  }
  .menu.active>div {
    width: 12px;
    height: 12px;
  }
  .menu:hover {
    opacity: 1;
  }

/* FOOTER */
footer {
  font-size: 9px;
}

/* QUICK BTN */
.quick_btn {
  padding: 20px;
}
.quick_item {
  width: 24px;
  height: 24px;
  border: 2px solid #f1f1f1;
  border-radius: 6px;
  margin-bottom: 8px;
}
.quick_item img {
  width: 15px;
}
.quick_item span {
  font-size: 16px;
}
.quick_item:hover {
  opacity: 1;
}

/* MENU DROPDOWN */
.menu_dropdown {
  background-color: rgba(85, 85, 85, .8);
}
.menu_dropdown>ul>li>a {
  padding: 20px 24px 12px 24px;
  margin-bottom: 0;
  font-size: 40px;
}