@charset "UTF-8";

.inner {
  width: 300px;
}

/* VISUAL */
.bg_color-2 {
  height: 5950px;
}

.pf-title {
  padding-top: 80px;
}
.pf-btn {
  font-size: 10px;
  border-radius: 6px;
}
.pf-title-img {
  height: 175px;
  padding: 8px;
}
.pf-title-img-hover {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  top: 8px;
  left: 8px;
  border-radius: 5px;
}

.pf-preview-title p,
.pf-detail-title p {
  font-size: 18px;
}