@charset "UTF-8";

.inner {
  width: 89.9533vw;
  background-color: blueviolet;
}

/* HEADER */
.logo {
  top: 20px;
  left: 20px;
}
.menu {
  top: 20px;
  right: 20px;
  background-color: rgba(241, 241, 241, .5);
}

.pf-preview-all {
  margin-bottom: 4.6729vw;
}
.pf-title {
  align-items: flex-start;
  box-sizing: border-box;
  height: 55vh;
  padding-top: 23.3645vw;
}
.pf-text {
  font-size: 4.6729vw;
  line-height: 7.4766vw;
}
.pf-btn-item {
  margin-top: 3.7383vw;
}
.pf-btn {
  border-radius: 1.4019vw;
  font-size: 2.8037vw;
  padding: 2.3364vw 3.7383vw 2.3364vw 3.7383vw;
}
.pf-btn-item>a {
  margin-right: 3.271vw;
}
.pf-title-img {
  height: 52.5701vw;
  padding: 2.3364vw;
  border-radius: 2.3364vw;
  margin-top: 4.6729vw;
}
.pf-title-img img {
  border-radius: 1.4019vw;
}
.pf-title-img-hover {
  width: calc(100% - 4.6729vw);
  height: calc(100% - 4.6729vw);
  top: 2.3364vw;
  left: 2.3364vw;
  border-radius: 1.4019vw;
}
.pf-title-img-hover>div {
  width: 58.4112vw;
}
.pf-title-img-item {
  margin-bottom: 2.8037vw;
  border-left: 0.2336vw solid #f1f1f1;
}
.pf-title-img-item>p {
  margin-left: 0.9346vw;
  font-size: 1.8692vw;
}
.hover-text {
  margin-top: 0.9346vw;
}

.pf-preview-title,
.pf-detail-title {
  margin-bottom: 4.6729vw;
}
.pf-preview-title p,
.pf-detail-title p {
  font-size: 4.6729vw;
}
.pf-preview-img-box {
  display: block;
}
.pf-preview-img-line {
  width: 100%;
  margin-bottom: 4.6729vw;
}
.pf-preview-img-line p {
  margin-bottom: 2.8037vw;
}
.pf-preview-img img {
  border-radius: 6px;
}

.pf-detail-contents {
  margin-bottom: 1.4019vw;
}
.pf-detail-item-title {
  font-size: 3.7383vw;
  margin-bottom: 2.8037vw;
}

/* FOOTER */
footer .inner {
  text-align: center;
}

/* QUICK BTN */
.quick_item {
  background-color: rgba(241, 241, 241, .5);
}

/* TOP BTN */
.top_btn {
  width: 36px;
  height: 36px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: rgba(241, 241, 241, .5);
}
.top_btn span {
  font-size: 20px;
}