@charset "UTF-8";

body {
  overflow: auto;
  font-size: 12px;
  background-image: url("../images/smartphone_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
video {
  display: none;
}

/* HEADER */
header {
  padding: 20px;
}
  /* LOGO */
  .logo {
    font-size: 1rem;
    padding-top: 6px;
    padding-bottom: 4px;
  }
  .logo:hover {
    opacity: 1;
  }
  /* MENU */
  .menu {
    width: 36px;
    height: 36px;
    border: 2px solid #f1f1f1;
    border-radius: 7px;
  }
  .menu>div {
    width: 20px;
    height: 18px;
  }
  .menu.active>div {
    width: 20px;
    height: 20px;
  }
  .menu:hover {
    opacity: 1;
  }

/* FOOTER */
footer {
  font-size: 9px;
  padding: 20px;
}

/* QUICK BTN */
.quick_btn {
  padding: 20px;
}
.quick_item {
  width: 36px;
  height: 36px;
  border: 2px solid #f1f1f1;
  border-radius: 7px;
  margin-bottom: 12px;
}
.quick_item img {
  width: 20px;
}
.quick_item span {
  font-size: 20px;
}
.quick_item:hover {
  opacity: 1;
}

/* MENU DROPDOWN */
.menu_dropdown>ul>li>a {
  padding: 20px 24px 12px 24px;
  margin-bottom: 0;
  font-size: 40px;
}