@charset "UTF-8";

body {
  background-image: none;
}

/* HEADER */
.logo {
  color: #555;
}
.menu {
  border: 2px solid #555;
}
.menu>div {
  background-image: url("../svg/menu_black.svg");
}
.menu.active>div {
  background-image: url("../svg/menu_active_black.svg");
}

/* VISUAL */
#contact_name {
  font-size: 11.6822vw;
  margin-right: 4px;
  margin-bottom: 0;
}
#contact_num {
  font-size: 6.3084vw;
  margin-top: 11px;
  margin-bottom: 0;
}
#contact_num a {
  color: #05757d;
}
#contact_email {
  font-size: 4.2056vw;
  margin-bottom: 0;
  margin-top: 1.1682vw;
}
#contact_email a {
  color: #0a30b2;
}
#contact_github {
  font-size: 8.6449vw;
  margin-right: 2.3364vw;
}
#contact_github a {
  color: #057d0d;
}
#contact_kakao {
  font-size: 8.6449vw;
}
#contact_kakao a {
  color: #07b213;
}

/* QUICK BTN */
.quick_item {
  border: 2px solid #555;
}
.quick_item span {
  color: #555;
}

/* MENU DROPDOWN */
.menu_dropdown {
  background-color: rgba(85, 85, 85, .1);
}
.menu_dropdown>ul>li>a {
  color: #555;
}