@charset "UTF-8";

body {
  color: #555;
}

/* BACKGROUND */
.bg_color {
  width: 100%;
  height: 100%;
  animation-name: background_gradient;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes background_gradient {
  0% {
    background-color: #f5f7fa;
  }
  100% {
    background-color: #c3cfe2;
  }
}

/* HEADER */
.logo {
  color: #555;
}
.menu {
  border: 3px solid #555;
}
.menu>div {
  background-image: url("../svg/menu_black.svg");
}
.menu.active>div {
  background-image: url("../svg/menu_active_black.svg");
}

/* VISUAL */
main {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_text {
  font-family: 'S-CoreDream-9Black';
}
.contact_line {
  display: flex;
}
#contact_name {
  font-size: 7.8125vw;
  margin-right: 30px;
  margin-bottom: 10px;
  padding-top: 14px;
  animation-name: text_gradient_1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  cursor: default;
}
@keyframes text_gradient_1 {
  0% {
    color: #6a85b6;
  }
  100% {
    color: #bac8e0;
  }
}
.contact_item a {
  transition: all .5s ease-in-out;
}
#contact_num {
  font-size: 4.6875vw;
  margin-bottom: 10px;
}
#contact_num:hover a {
  color: #05757d;
}
#contact_email {
  font-size: 3.125vw;
}
#contact_email:hover a {
  color: #0a30b2;
}
#contact_github {
  font-size: 6.3021vw;
  margin-right: 30px;
}
#contact_github:hover a {
  color: #057d0d;
}
#contact_kakao {
  font-size: 6.3021vw;
}
#contact_kakao:hover a {
  color: #07b213;
}

/* FOOTER */
footer b {
  color: #999;
}

/* QUICK BTN */
.quick_item {
  border: 3px solid #555;
}
.quick_item span {
  color: #555;
}

/* MENU DROPDOWN */
.menu_dropdown {
  background-color: rgba(85, 85, 85, .1);
}
.menu_dropdown>ul>li>a {
  color: #555;
}
.menu_dropdown>ul>li>a:hover {
  border: 8px solid #555;
}