@charset "UTF-8";

/* VISUAL */
#contact_name {
  font-size: 62px;
  margin-right: 10px;
  margin-bottom: 0;
}
#contact_num {
  font-size: 45px;
  margin-top: 5px;
  margin-bottom: 0px;
}
#contact_num a {
  color: #05757d;
}
#contact_email {
  font-size: 30px;
}
#contact_email a {
  color: #0a30b2;
}
#contact_github {
  font-size: 57px;
  margin-right: 10px;
}
#contact_github a {
  color: #057d0d;
}
#contact_kakao {
  font-size: 57px;
}
#contact_kakao a {
  color: #07b213;
}