@charset "UTF-8";

/* HEADER */
.menu {
  border: 2px solid #218FB3;
}

/* VISUAL */
.bg_color-2 {
  height: 1051.4019vw;
}

/* QUICK BTN */
.quick_item {
  border: 2px solid #218FB3;
}

/* TOP BTN */
.top_btn {
  border: 2px solid #218FB3;
}