@charset "UTF-8";

body {
  overflow: visible;
}

/* VISUAL */
.main_title {
  width: 70vw;
}
.main_title p {
  font-size: 11.8vw;
}

/* MENU DROPDOWN */
.menu_dropdown {
  background-color: rgba(85, 85, 85, .8);
}