@charset "UTF-8";

body {
  background-image: url("../images/smartphone_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

video {
  display: none;
}

/* VISUAL */
.main_title {
  width: 80vw;
}
.main_title p {
  font-size: 13.3333vw;
}