@charset "UTF-8";

/* MAIN */
.background {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url("../images/smartphone_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

  /* VIDEO */
  @media screen and (max-aspect-ratio: 1219/685) {
    video {
      width: auto;
      height: 100vh;
    } 
  }

  /* BACKGROUND */
  .bg_color {
    width: 100%;
    height: 100%;
    animation-name: background_gradient;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    position: absolute;
    top: 0;
    left: 0;
  }
  @keyframes background_gradient {
    0% {
      background-color: #35a7a7;
      opacity: .5;
    }
    100% {
      background-color: #c12b59;
      opacity: .5;
    }
  }

  /* VISUAL */
  main {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main_title {
    width: 60vw;
    text-align: center;
  }
  .main_title>img {
    margin-bottom: 10px;
  }
  .main_title p {
    font-family: 'S-CoreDream-9Black';
    font-size: 9.8958vw;
    animation-name: text_gradient;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    cursor: default;
  }
  @keyframes text_gradient {
    0% {
      color: #07a3b2;
    }
    100% {
      color: #daebc7;
    }
  }